---
import type { Box, MetaInfo } from "../../types";

// Components
import Layout from "../../layouts/Layout.astro";
import Breadcrumbs from "../../components/Breadcrumbs/Breadcrumbs.astro";
import BoxGrid from "../../components/BoxGrid/BoxGrid.astro";
import Title from "../../components/Title/Title.astro";

// Images
import subscription from "../../icons/subscription.svg";
import proposalPricing from "../../icons/proposal-pricing.svg";
import packageIcon from "../../icons/package.svg";
import settingsCog from "../../icons/settingscog.svg";
import brush from "../../icons/brush.svg";
import quickFixIcon from "../../icons/quick-fix.svg";
import FAQs from "../../components/FAQs/FAQs.astro";
import { getCollection } from "astro:content";

// Meta Info
const metaInfo: MetaInfo = {
    description:
        "Our pricing is as flexible as your needs. Choose from fixed project-based pricing, an unlimited Shopify development subscription or one of our other specific packages.",
    keywords: "shopify, development, agency",
    shouldIndex: true,
    schemaMetaInfo: `
<meta itemprop="name" content="Futuremerce - Pricing">
<meta itemprop="description" content="Our pricing is as flexible as your needs. Choose from fixed project-based pricing, an unlimited Shopify development subscription or one of our other specific packages.">
<meta itemprop="image" content="/overview.png">
`,
};

// Content
const pricingTypes: Box[] = [
    {
        title: "Proposal Pricing",
        description:
            "Get a fixed-price quote, taking into account your specific needs ad circumstance. Perfect for clients who want a clear understanding of the cost before getting started.",
        image: proposalPricing,
        cta: {
            label: "Get a free quote",
            link: "/get-started",
            is_button: true,
        },
    },
    {
        title: "Subscription Pricing",
        description:
            "Unlock the full potential of having Futuremerce by your side with a Shopify development subscription. Perfect for agencies, larger stores or anyone with ongoing development needs.",
        image: subscription,
        cta: {
            label: "See development plans",
            link: "/services/development-subscriptions",
            is_button: true,
        },
    },
];

const otherPackages: Box[] = [
    {
        title: "Shopify Maintenance",
        subtitle: "Plans starting at $999 per year",
        description:
            "Our team of experts can help maintain your store with ongoing bug fixes, technical advice, performance monitoring and more.",
        image: settingsCog,
        cta: {
            label: "Contact Us",
            link: "/contact",
        },
    },
    {
        title: "One Time Quick Fix",
        subtitle: "One time $499 purchase",
        description:
            "Book a 4 hour slot for us to quickly resolve a bug or issue on your Shopify store.  Small issues can usually be solved in 1 business day.",
        image: quickFixIcon,
        cta: {
            label: "Get started",
            link: "/get-started",
        },
    },
    {
        title: "UI/UX Design",
        subtitle: "Pricing varies",
        description:
            "Elevate your brand with aesthetic and user-friendly design from our team of experienced UI/UX designers",
        image: brush,
        cta: {
            label: "Get a free quote",
            link: "/get-started",
        },
    },
];

const pricingFAQs = await getCollection("faqs", ({ data }) => {
    return data.type === "pricing";
});

// Breadcrumbs
const links = [
    {
        label: "Pricing",
        href: "",
    },
];
---

<Layout title="Futuremerce - Pricing" metaInfo={metaInfo}>
    <Breadcrumbs links={links} />

    <h1 class="page-title"><span>Pricing</span> Packages</h1>
    <p class="page-text">
        Our pricing is as flexible as your needs. Choose from fixed
        project-based pricing, an unlimited Shopify development subscription or
        one of our other specific packages.
    </p>

    <BoxGrid items={pricingTypes} />

    <Title
        title="Other Packages We Offer"
        subtitle="OTHER PACKAGES"
        icon={packageIcon}
    />
    <BoxGrid items={otherPackages} />

    <FAQs faqs={pricingFAQs} />
</Layout>
