---
import type { Box, MetaInfo } from "../../types";
import { getCollection } from "astro:content";

// Components
import Layout from "../../layouts/Layout.astro";
import Breadcrumbs from "../../components/Breadcrumbs/Breadcrumbs.astro";
import BoxGrid from "../../components/BoxGrid/BoxGrid.astro";
import Title from "../../components/Title/Title.astro";
import Button from "../../components/Button/Button.astro";
import FAQs from "../../components/FAQs/FAQs.astro";
import TrustedBy from "../../components/TrustedBy/TrustedBy.astro";
import TextImageGroup from "../../components/TextImageGroup/TextImageGroup.astro";
import HomepageAbout from "../../components/HomepageAbout/HomepageAbout.astro";

// Images
import ServicesHomepageIcon from "../../icons/services-homepage.svg";
import communication from "../../icons/clear-communication.svg";
import settings from "../../icons/settingscog.svg";
import performance from "../../icons/performance.svg";
import mobile from "../../icons/services/development/mobile-optimization.svg";
import speedAnalysis from "../../icons/proposal-pricing.svg";
import imageOptimisation from "../../icons/image-optimisation.svg";
import imageGroup1 from "../../images/performance-optimisation-1.png";
import imageGroup2 from "../../images/performance-optimisation-2.png";
import AboutIcon from "../../icons/about-homepage.svg";

// Meta Info
const metaInfo: MetaInfo = {
    description:
        "Is your Shopify store underperforming?  Are slow loading times, buggy features, and a confusing user experience hurting your sales? You're not alone. Many Shopify stores struggle to reach their full potential due to performance issues. That’s where we come in.",
    keywords: "shopify, development, agency",
    shouldIndex: true,
    schemaMetaInfo: `
<meta itemprop="name" content="Futuremerce - Shopify Store Performance Optimisation">
<meta itemprop="description" content="Is your Shopify store underperforming?  Are slow loading times, buggy features, and a confusing user experience hurting your sales? You're not alone. Many Shopify stores struggle to reach their full potential due to performance issues. That’s where we come in.">
<meta itemprop="image" content="/overview.png">
`,
};

// Content
const benefits: Box[] = [
    {
        title: "Speed Optimisation",
        description:
            "Dramatically reduce loading times for a smoother, more enjoyable customer experience and higher conversion rate.",
        image: performance,
    },
    {
        title: "Image Optimisation",
        description:
            "Compress images without sacrificing quality, ensuring they load quickly without compromising visual appeal.",
        image: imageOptimisation,
    },
    {
        title: "App Review",
        description:
            "Review third-party apps to identify any potential conflicts or inefficiencies hurting your store’s performance",
        image: settings,
    },
    {
        title: "Speed Analysis",
        description:
            "Get a detailed report prepared by our team of experts highlighting your store’s loading time and problematic areas to be addressed.",
        image: speedAnalysis,
    },
    {
        title: "Mobile Enhancement",
        description:
            "We'll test your store functionality and design on various mobile platforms and optimize for a flawless experience that drives conversions.",
        image: mobile,
    },
    {
        title: "Ongoing communication",
        description:
            "We’ll keep you informed about our findings and recommendations, ensuring you're involved every step of the way.",
        image: communication,
    },
];

const faqs = await getCollection("faqs", ({ data }) => {
    return data.type === "development";
});
---

<Layout title="Futuremerce - Shopify Store Performance Optimisation" metaInfo={metaInfo}>
    <Breadcrumbs />

    <h1 class="page-title long">Performance <span>Optimisation</span></h1>
    <p class="page-text">
        Is your Shopify store underperforming?  Are slow loading times, buggy features, and a confusing user experience hurting your sales? You're not alone. Many Shopify stores struggle to reach their full potential due to performance issues. That’s where we come in.
    </p>
    <Button href="/get-started" type="primary">Get Started</Button>
    <TrustedBy />

    <Title
        title="What We Offer"
        subtitle="BENEFITS"
        icon={ServicesHomepageIcon}
    />
    <BoxGrid items={benefits} />

    <TextImageGroup title="Unleash the full potential of your online store" text="Investing in Shopify performance optimization is an investment in your business growth. We'll help you create a high-performing online store that delivers a superior customer experience and drives measurable results." image={imageGroup1} />
    <TextImageGroup title="Get a Free Quote" text="Get a free quote for our comprehensive Shopify performance optimization service and see how we can help you uncover hidden performance bottlenecks and craft a faster, frictionless user experience to drive conversions." image={imageGroup2} />

    <Title title="We’re Futuremerce" subtitle="about" icon={AboutIcon} />
    <HomepageAbout />

    <FAQs faqs={faqs} />
</Layout>

<style is:inline>
    body > .button {
        margin: 40px auto;
    }

    .title-group {
        margin-top: 140px;
    }

        @media screen and (max-width: 767px) {
            .title-group {
                margin-top: 80px;
            }
        }

    .text-image-group:nth-of-type(2n + 1) {
        flex-direction: row;
    }

    .text-image-group:nth-of-type(2n) {
        flex-direction: row-reverse;
    }

    .text-image-group:nth-of-type(2n + 1)::after {
        right: 100px;
        left: unset;
    }

    .text-image-group:nth-of-type(2n)::after {
        right: unset;
        left: 100px;
    }
</style>
