---
import { Image } from "astro:assets";
import { type NavbarLink } from "../../types";
import Button from "../Button/Button.astro";

import Container from "../Container/Container.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const allServices = await getCollection("services");
allServices.sort((a, b) => (a.data.order > b.data.order ? 1 : -1));

const links: NavbarLink[] = [
    {
        label: "About",
        href: "#about-dropdown",
        sublinks: [
            {
                label: "About Us",
                text: "Get to know us better",
                icon: "about-us-icon.svg",
                href: "/about-us",
            },
            {
                label: "FAQs",
                text: "Answers to your questions",
                icon: "faqs-icon.svg",
                href: "/faq",
            },
            {
                label: "Contact",
                text: "Get in touch with us",
                icon: "contact-icon.svg",
                href: "/contact",
            },
        ],
    },
    {
        label: "Services",
        href: "#services-dropdown",
        sublinks: allServices.map((service) => ({
            label: service.data.title,
            text: service.data.shortDescription,
            icon: service.data.image,
            href: `/services/${service.id}`,
        })),
    },
    {
        label: "Pricing",
        href: "/pricing",
    },
    {
        label: "Blog",
        href: "/blog",
    },
];
---

<nav class="navbar" transition:persist>
    <Container>
        <a class="navbar_brand" href="/" aria-label="Home">
            <Icon name="transparent-logo" />
        </a>
        <div class="navbar_list">
            {
                links.map((link) => (
                    <>
                        <a href={link.href} class="navbar_link">
                            {link.label}{" "}
                            {link.hasOwnProperty("sublinks") ? (
                                <svg
                                    width="13"
                                    height="12"
                                    viewBox="0 0 13 12"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M6.78418 8.25L3.03418 4.5L3.55918 3.975L6.78418 7.2L10.0092 3.975L10.5342 4.5L6.78418 8.25Z"
                                        fill="white"
                                        fill-opacity="0.5"
                                    />
                                </svg>
                            ) : (
                                ""
                            )}
                        </a>
                        {link.hasOwnProperty("sublinks") ? (
                            <div
                                class="navbar_dropdown"
                                data-dropdown={link.href}
                            >
                                <div class="navbar_dropdown-inner">
                                    {link.sublinks!.map((sublink) => (
                                        <a
                                            href={sublink.href}
                                            class="navbar_dropdown-link"
                                        >
                                            <Image
                                                src={
                                                    import(
                                                        /* @vite-ignore */ "/src/icons/" +
                                                            sublink.icon
                                                    )
                                                }
                                                alt=""
                                            />
                                            <p>
                                                <span>{sublink.label}</span>
                                                {sublink.text}
                                            </p>
                                        </a>
                                    ))}
                                </div>
                            </div>
                        ) : (
                            ""
                        )}
                    </>
                ))
            }
        </div>
        <div class="navbar_actions">
            <Button type="secondary" link="#book-a-call">Book a Call</Button>
        </div>
    </Container>
</nav>

<script is:inline>
    const navbar = document.querySelector(".navbar");

    const handleScroll = () => {
        if (window.scrollY > 10) {
            navbar?.classList.add("scrolled");
        } else {
            navbar?.classList.remove("scrolled");
        }
    };

    window.addEventListener("scroll", handleScroll);

    handleScroll();

    const handleDropdown = (e) => {
        const linkEl = e.target.href
            ? e.target
            : e.target.closest(".navbar_link");
        const href = linkEl.href;

        const dropdown = document.querySelector(
            `.navbar_dropdown[data-dropdown="${"#" + href.split("#")[1]}"]`,
        );
        const navbar = document.querySelector(".navbar");

        const activeDropdown = document.querySelector(
            ".navbar_dropdown.active",
        );

        if (
            activeDropdown &&
            activeDropdown.getAttribute("data-dropdown") !=
                "#" + href.split("#")[1]
        ) {
            activeDropdown.classList.remove("active");
            document
                .querySelector(".navbar_link.active")
                ?.classList.remove("active");
            navbar?.classList.remove("active");
        }

        dropdown?.classList.toggle("active");
        linkEl.classList.toggle("active");
        navbar?.classList.toggle("active");
    };

    const links = document.querySelectorAll(".navbar_link");

    links.forEach((linkEl) => {
        if (linkEl.querySelector("svg") != null) {
            linkEl.addEventListener("click", handleDropdown);
        } else {
            linkEl.addEventListener("click", (e) => {
                if (!e.target.getAttribute("href").includes("#")) {
                    window.scrollTo(0, 0);
                }
            });
        }
    });

    const handleDropdownSublink = (e) => {
        const activeDropdown = document.querySelector(
            ".navbar_dropdown.active",
        );
        const navbar = document.querySelector(".navbar");

        activeDropdown.classList.remove("active");
        document
            .querySelector(".navbar_link.active")
            ?.classList.remove("active");
        navbar?.classList.remove("active");
    };

    document.querySelectorAll(".navbar_dropdown-link").forEach((linkEl) => {
        linkEl.addEventListener("click", handleDropdownSublink);
    });
</script>
