---
import { Image } from "astro:assets";

import type { Box } from "../../types";

import boxCTAArrow from "../../icons/cta-arrow.svg";
import Button from "../Button/Button.astro";

interface Props {
    box: any;
}

const { box } = Astro.props as Props;

let data = "data" in box ? box.data : box;

if ("collection" in box && box.collection == "services") {
    data.cta = {
        label: "Learn more",
        link: `/services/${box.id}`,
        is_button: false,
    };
}
---

<div class="box">
    {
        data.image && (
            <div class="box_icon">
                <Image
                    src={data.image}
                    alt=""
                    loading="eager"
                />
            </div>
        )
    }
    <h4 class="box_title">{data.title}</h4>
    {data.subtitle ? <h5 class="box_subtitle">{data.subtitle}</h5> : ""}
    <p class="box_description">{data.description}</p>
    {
        data.cta && !data.cta.is_button ? (
            <a href={data.cta.link} class="box_cta" title={data.cta.label}>
                {data.cta.label}
                <Image src={boxCTAArrow} alt="" loading="eager" />
            </a>
        ) : data.cta ? (
            <Button type="primary" link={data.cta.link}>
                {data.cta.label}
            </Button>
        ) : (
            ""
        )
    }
</div>
